@import '../../styles/variables';

.container {
  background: $white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 23px;
  font-weight: 500;
}
