@import '../../styles/transitionTimings';

.container {
  position: fixed;
  opacity: 0.9;
  top: 24px;
  right: 12px;
}

.icon {
  width: 30px;
  height: 30px;
  transition: $settings-transition;

  &_active {
    transform: rotate(30deg);
  }
}
