@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/transitionTimings';

.button {
  display: inline-block;
  height: 60px;
  border-radius: $button-border-radius;
  border: $border;
  background: $bg;
  font-size: 19px;
  transition: $button-click-transition;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &:active {
    transform: scale(0.98);
  }

  &Container {
    position: relative;
  }

  &Decor {
    @include buttonDecor;
    animation: buttonDecorClick linear $button-decor-click-animation forwards;
    border-radius: 30px;

    @keyframes buttonDecorClick {
      from {
        opacity: 0.7;
        transform: scale(1);
      }
      to {
        opacity: 0;
        transform: scaleX(1.15) scaleY(1.6);
      }
    }

    &_rounded {
      animation-name: buttonDecorClickRounded;

      @keyframes buttonDecorClickRounded {
        from {
          opacity: 1;
          transform: scale(1);
        }
        to {
          opacity: 0;
          transform: scale(1.6);
        }
      }
    }
  }

  &_stretched {
    display: block;
    width: 100%;
  }

  &_rounded {
    width: 60px;
  }

  &_color {
    &_blue {
      background: $blue;
    }

    &_red {
      background: $red;
    }
  }
}

.wrapper {
  border-radius: 30px;
  overflow: hidden;
}
