@import '../../styles/variables';

.container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: $bg;
  display: flex;
  border: $border;
  border-radius: 23px 23px 0 0;
  height: 74px;
  overflow: hidden;
  justify-content: center;
  box-sizing: border-box;
}
