$button-click-transition: 0.1s;
$input-field-transition: 0.5s;
$input-field-border-transition: 0.3s;
$input-field-error-transition: 0.5s;
$input-field-error-empty-transition: 0s;
$password-hide-button-transition: 0.4s;
$error-popup-disappear-transition: .5s;

$button-decor-click-animation: 0.5s;
$transition-cover-animation: 1s;
$intro-title-animation: 1.5s;
$intro-disappear-animation: 1.2s;
