$black: #121212;
$light-black: #2c2c2c;
$white: #fefefe;
$border-color: #dcdcdc;
$border: 2px solid $border-color;
$border-color-focused: #999;
$bg: #f6f6f6;
$blue: #daebfc;
$red: #f9a1a1;
$selection-bg: #e7e7e7;
$input-field-height: 53px;
$button-border-radius: 30px;
