@import './fonts';
@import './variables';

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Poppins;
  color: $black;
}

::selection {
  background: $selection-bg;
}

button,
input,
textarea {
  font-family: inherit;
  cursor: pointer;
  color: inherit;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}
