@import '../../styles/variables';
@import '../../styles/transitionTimings';

.passwordHide {
  position: absolute;
  bottom: 0;
  right: 0;
  height: $input-field-height;
  box-sizing: border-box;
  border: none;
  background: none;
  width: 56px;
  padding: 0;
  transition: $password-hide-button-transition;

  &_disabled {
    opacity: 0.4;
  }

  &Img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
