@import '../../styles/variables';
@import '../../styles/transitionTimings';

.container {
  position: relative;
}

.title {
  text-transform: capitalize;
  font-size: 21px;
}

.field {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-size: 19px;
  height: $input-field-height;
  border: $border;
  background: $bg;
  border-radius: 10px;
  transition: $input-field-transition, border-color $input-field-border-transition;
  margin-top: 8px;

  &:focus {
    border-color: $border-color-focused;
  }

  &_invalid,
  &_invalid:focus {
    border-color: $red;
  }

  &_large {
    margin-top: 13px;
  }

  &_invalid {
    margin-top: 27px;
  }
}
