@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/transitionTimings';

.container {
  height: 37vh;
  width: 37vh;
  margin: 20px 0;
  user-select: none;
  position: relative;
}

.button {
  width: 100%;
  height: 100%;
  border: $border;
  background: none;
  border-width: 4px;
  border-radius: 50%;
}

.wrapper {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.clicks {
  font-size: 59px;
}

@media (min-width: 360px) {
  .clicks {
    font-size: 72px;
  }
}

.decor {
  @include buttonDecor;
  border-radius: 50%;
  animation: buttonDecorClick linear $button-decor-click-animation forwards;

  @keyframes buttonDecorClick {
    from {
      opacity: 0.7;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(1.4);
    }
  }
}
